[Desktop Entry]
Type=Application
Name=Test Extender
GenericName=Extender
Comment=Flatpak Test Extender
Exec=Extender
Icon=Extender
Keywords=Test;Extender;