[Desktop Entry]
Type=Application
Name=Extension
GenericName=Extension
Comment=A Flatpak test extension
Exec=Extension
Icon=Extension
Keywords=Extension;